@page
@model HelloWorldRazor.Pages.ContactModel
@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<form method="post">
    <div class="mb-3">
        <label class="form-label" for="name">Name:</label>
        <input class="form-control" type="text" id="name" name="name" />
    </div>
    <div class="mb-3">
        <label class="form-label" for="email">Email:</label>
        <input class="form-control type="email" id="email" name="email" />
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
</form>

@if (Model.Message != null)
{
    <div class="mt-3">
        <p class="h6">@Model.Message</p>
    </div>
}